*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
}

header{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid green;
    width: 100vw;
    height: 150px;
    align-items: center;
    justify-content: space-around;
}
.nav-right{
    display: flex;
    flex-wrap: wrap;
}
nav ul {
    list-style: none;
    display: flex;
    border: 1px solid rgb(66, 168, 92);
}

nav ul li{
    list-style: none;
    display: flex;
    margin-left: 10px;
}

.envia-feedback{
    border-radius: 20%;
    border: 1px solid blue;
    background-color: aqua;
    margin-left: 40px;
}

.lienzo-cel{
    margin: auto;
    border: 1px solid rgb(43, 226, 89);
    background-color: aqua;
    
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    border: 1px  solid blueviolet;
}

.section-one{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cocouno{
    position: absolute;
    z-index: 8;
    
    
}
.exis{
    position: absolute;
    z-index: 9;
    left: 100px;
}

.videouno{
    z-index: 2;
    right: 10px;
}

